*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#myAudio{
    width: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
h3, p{
    text-align: center;
    padding: 10px 0;
}
#minutes{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
.btn-container{
    display: flex;
    justify-content: space-between;
}
button{
    width: 80px;
    height: 30px;
    border-radius: 5px;
}